@import "./variable";

.section__about-me {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-me__title,
.about-me__article--title {
  color: $title-color;
}

.image__wrapper {
  position: relative;
}

.image__wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: -8px;
  right: -10px;
  border: 2px solid $primary-color;
}

.about-me__title {
  position: relative;
}

.about-me__title::first-letter {
  color: $primary-color;
}

.about-me__title::before {
  content: "";
  background-color: $primary-color;
  position: absolute;
  top: -30px;
  left: 0;
  width: 30px;
  height: 2px;
}

// .about-me__article--title {

// }

.about-me__article--paragraph {
  color: $body-color;
}

.skills__list {
  display: flex;
  flex-direction: row;
}
