@import "./variable";

.section__contact {
  @include section-margin;
}

.contact__image {
  max-height: 34px;
  width: auto;
  max-width: 34px;
  margin-right: 12.75px;
  align-self: center;
}

.contact__item {
  @include flex-row;
}

.contact__paragraph,
.contact__name {
  font-size: 17px;
}

.contact__issue--link,
.contact__name {
  color: $primary-color;
}

.contact__name {
  margin-top: 0;
  margin-bottom: 0;
}

.contact__detail,
.contact__paragraph {
  color: $body-color;
}

.contact__detail {
  font-size: 12.75px;
}

.contact__line {
  height: 1px;
  width: 50%;
  background-color: $body-color;
}

.contact__container {
  display: grid;
  grid-gap: 30px;
  margin-top: 34px;
  margin-bottom: 34px;
}

@media (min-width: 650px) {
  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__name {
    font-size: 20px;
  }

  .contact__detail {
    font-size: 15px;
  }
}

@media (min-width: 1100px) {
  .contact__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
