@import "./variable";

body {
  margin: auto;
  background-color: $bg-color;
}

* {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
