@import "./variable";

body {
  margin: auto;
  background-color: $bg-color;
}

* {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
abbr[title] {
  text-decoration: none;
}

img {
  width: 100%;
}

button,
a {
  cursor: pointer;
}

.title {
  color: $title-color;
  position: relative;
  @include title;
  padding-top: 24px;
  margin-bottom: 0;
}

.title::first-letter {
  color: $primary-color;
}

.title::before {
  @include small-line;
  top: 0;
  left: 0;
}
