@import "./variable";

body {
  max-width: 1440px;
  margin: auto;
  background-color: $bg-color;
}

body::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 6px;
  border: 3px solid yellow;
}

body::-webkit-scrollbar-track {
  background-color: red;
}

body::-webkit-scrollbar {
  width: 12px;
}

* {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
abbr[title] {
  text-decoration: none;
}

img {
  width: 100%;
}

button,
a {
  cursor: pointer;
}

.title {
  color: $title-color;
  position: relative;
  @include title;
}

.title::first-letter {
  color: $primary-color;
}

.title::before {
  @include small-line;
  top: 0;
  left: 0;
}

section {
  padding-left: 21px;
  padding-right: 21px;
}

.paragraph {
  font-size: 17px;
}

@media (min-width: 650px) {
  section {
    @include tablet-inline-padding;
  }

  .title {
    font-size: 36px;
  }

  .paragraph {
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  section {
    @include desktop-inline-padding;
  }
}
