@import "./variable";

.section__features {
  margin-top: calc(60px / 2);
  margin-bottom: calc(60px / 2);
  padding-bottom: calc(30px / 2);
}

.features__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid $body-color;
  border-radius: 6px;
  padding: calc(17px / 2);
  margin-bottom: calc(40px / 2);
  margin-top: calc(40px / 2);
}

.features__image {
  max-width: 30px;
  height: 34px;
}

.section__features--paragraph,
.features__article {
  color: $body-color;
}

.features__line {
  width: 15%;
  height: 2px;
  background-color: $primary-color;
}

.features__wrapper {
  margin-top: calc(40px / 2);
  margin-bottom: calc(40px / 2);
}

.features__paragraph {
  font-size: 10px;
}

.features__heading,
.features__paragraph {
  margin-top: calc(17px / 2);
  margin-bottom: calc(17px / 2);
}

.features__heading {
  font-size: 22px;
}

@media (min-width: 300px) {
  .section__features {
    @include section-margin;
  }

  .features__article {
    border-radius: 8px;
    padding: 17px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .features__wrapper {
    display: grid;
    grid-gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .features__paragraph {
    font-size: 12.8px;
  }

  .features__heading,
  .features__paragraph {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .features__heading {
    font-size: 25.5px;
  }
}

@media (min-width: 650px) {
  .features__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .features__heading {
    font-size: 30px;
  }

  .features__paragraph {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .features__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
