@import "./variable";

.section__features {
  padding-left: 21px;
  padding-right: 21px;
}

.features__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid $body-color;
  border-radius: 8px;
  padding: 17px;
}

.section__features--title {
  position: relative;
  @include title;
}

.section__features--title,
.section__projects--title {
  color: $title-color;
}

.section__features--title::first-letter {
  color: $primary-color;
}

.features__image {
  max-width: max-content;
  height: 34px;
}

.section__features--paragraph,
.features__article {
  color: $body-color;
}

.features__line {
  width: 15%;
  height: 2px;
  background-color: $primary-color;
}

.features__wrapper {
  display: grid;
  grid-gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.features__paragraph {
  font-size: 12.8px;
}

.features__heading,
.features__paragraph {
  margin-top: 17px;
  margin-bottom: 17px;
}

.section__projects--title {
  @include title;
}

.section__projects--title::first-letter {
  color: $primary-color;
}

.section__features--title::before {
  @include small-line;
  top: 0;
}
