@import "./variable";

footer {
  background-color: $bg-content-color;
  padding: calc(12px / 2);
  margin-bottom: calc(49px / 2);
  color: $body-color;
  font-size: 10px;
}

footer .common__container {
  flex-direction: column;
}

footer .common__container,
.footer__list,
.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__wrapper {
  flex-direction: column;
}

.footer__list {
  flex-direction: row;
}

.footer__link {
  color: $title-color;
}

.footer__link:hover {
  color: $primary-color;
}

.footer__link,
.footer__link:hover {
  transition: color $transition;
}

.footer__link svg {
  width: 19px;
  height: initial;
  margin-left: calc(8.5px / 2);
  margin-right: calc(8.5px / 2);
}

.tools {
  display: flex;
  align-items: center;
  margin-top: calc(13.6px / 2);
  margin-bottom: calc(13.6px / 2);
  height: 45.5px;
  gap: 5px;
}

.tools__wrapper {
  display: flex;
  align-items: center;
  height: 16px;
  overflow: hidden;
}

@keyframes scroll-item {
  0%,
  10% {
    transform: translateY(40%);
  }

  20%,
  30% {
    transform: translateY(20%);
  }

  40%,
  50% {
    transform: translateY(0%);
  }

  60%,
  70% {
    transform: translateY(-20%);
  }

  80%,
  90%,
  100% {
    transform: translateY(-40%);
  }
}

.tools span {
  animation: scroll-item 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.tools span {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 300px) {
  footer .common__container {
    padding: 12px;
    margin-bottom: 49px;
    font-size: 13.6px;
  }

  .footer__link svg {
    width: 19px;
    margin-left: 8.5px;
    margin-right: 8.5px;
  }

  .tools {
    margin-top: 13.6px;
    margin-bottom: 13.6px;
  }
}

@media (min-width: 650px) {
  footer .common__container {
    @include flex-row;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    @include tablet-inline-padding;
    margin-bottom: 0;
    font-size: 16px;
  }

  .footer__link svg {
    width: 21.33px;
  }

  .footer__wrapper {
    flex-direction: row;
  }

  .footer__copyright {
    margin-right: 16px;
  }
}

@media (min-width: 1100px) {
  footer .common__container {
    @include desktop-inline-padding;
  }
}
