@import "./variable";

.masthead {
  background-color: $bg-content-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.masthead,
.header {
  padding-left: 21px;
  padding-right: 21px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 2 * 80px);
  position: relative;
  padding-bottom: 30px;
}

.masthead__title,
.header__article--title,
.social__media--link {
  color: $title-color;
}

.number,
.small__heading,
.header__article--skills {
  color: $primary-color;
}

.header__article--paragraph,
.header__article--title {
  margin-top: 0;
}

.header__article--title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

.small__heading {
  font-size: 17px;
}

.header__article--paragraph {
  color: $body-color;
  margin-bottom: 21.25px;
}

.header__article--button,
.header__article--button:hover,
.header__article--button::before,
.header__article--button:hover::before {
  transition: all ease 0.2s;
}

.header__article--button {
  display: flex;
  flex-direction: row;
  color: $bg-color;
  font-size: 13.5px;
  background-color: $title-color;
  padding-left: 12.8px;
  padding-right: 12.8px;
  padding-top: 6.4px;
  padding-bottom: 6.4px;
  border: none;
  max-width: max-content;
  font-weight: 500;
  position: relative;
}

.header__article--button svg {
  width: 11.9px;
  max-height: max-content;
  margin-left: 4.25px;
}

.header__article--button::before {
  content: "";
  z-index: -1;
  border: 1px solid $title-color;
  position: absolute;
  bottom: -3px;
  right: -4px;
  width: 100%;
  height: 100%;
}

.social_media__list--item a:hover,
.header__article--button:hover {
  color: $primary-color;
}

.header__article--button:hover::before {
  border: 1px solid $primary-color;
  bottom: -5px;
  right: -6px;
}

.social_media__list--item svg {
  width: 26.59px;
}

.social__media--link:hover,
.social__media--link {
  transition: color $transition;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
}

.scrolldown-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.scrolldown-container > p {
  color: $body-color;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mouse {
  margin: auto;
  max-width: 20px;
  height: 30px;
  border: 2px solid $title-color;
  border-radius: 20px;
}

.mouse .small-line {
  position: relative;
  left: 50%;
  top: 6px;
  margin-left: -1px;
  width: 2px;
  height: 8px;
  background: $primary-color;
  border-radius: 25%;
  animation: scroll 2.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
}

@media (min-width: 650px) {
  .header,
  .masthead {
    @include tablet-inline-padding;
  }

  .header__article--title {
    font-size: 80px;
    line-height: 1.1;
  }
  .small__heading {
    font-size: 20px;
  }

  .header__article--button {
    font-size: 14.4px;
  }

  .scrolldown-container {
    display: block;
  }
}

@media (min-width: 1100px) {
  .header {
    @include desktop-inline-padding;
  }
}
