@import "./variable";

.section__projects {
  @include section-margin;
}

.section__projects,
.section__projects--wrapper {
  padding-left: 21px;
  padding-right: 21px;
}

.section__projects--wrapper,
.project__link {
  color: $body-color;
}

.projects__title {
  position: relative;
  color: $title-color;
  font-size: 27.25px;
}

.projects__title::before,
.section__projects--title::before {
  @include small-line;
  top: -20px;
}

.section__projects--title {
  @include title;
  position: relative;
  padding-top: 0;
}

.projects__description,
.skills__list {
  font-size: 13.6px;
}

.projects__description {
  background-color: $bg-content-color;
  padding: 10px;
  border-radius: 8px;
}

.projects__image {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projects__list,
.more__projects {
  display: flex;
  flex-direction: row;
}

.projects__list {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.projects__list svg {
  margin-left: 8.5px;
  margin-right: 8.5px;
}

.project__link svg {
  width: 22.66px;
  height: 23px;
}

.more__projects a {
  display: flex;
  align-items: center;
  max-width: max-content;
  margin: auto;
  font-size: 13.6px;
  color: $primary-color;
  align-items: center;
}

.more__projects svg {
  margin-left: 4.25px;
}

.more__projects:hover svg {
  margin-left: 6.4px;
}

.more__projects a:hover {
  text-decoration: underline;
  color: $secondary-color;
}

.more__projects svg {
  width: 11.9px;
  max-height: max-content;
}

.project__link:hover {
  color: $primary-color;
}
