@import "./variable";

.section__projects,
.section__projects--wrapper {
  padding-left: 21px;
  padding-right: 21px;
}

.section__projects--wrapper,
.project__link {
  color: $body-color;
}

// .projects {
//   display: grid;
//   grid-gap: 40px;
// }

.projects__title {
  position: relative;
  color: $title-color;
  font-size: 27.25px;
}

.projects__title::before {
  @include small-line;
  top: -20px;
}

.section__projects--title {
  @include title;
}

.projects__description,
.skills__list {
  font-size: 13.6px;
}

.projects__description {
  background-color: $bg-content-color;
  padding: 10px;
  border-radius: 8px;
}

.projects__image {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projects__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 17px;
}

.project__link {
  text-indent: -9999px;
  background-repeat: no-repeat;
  width: 22.66px;
  height: max-content;
  display: block;
}

.code__link {
  background-image: url("#{$image-path}/big-github-icon.svg");
}

.demo__link {
  background-image: url("#{$image-path}/demo-icon.svg");
}
