// Background color
$bg-color: #252839;
$bg-content-color: #1b1d2a;
$title-color: #fff;
$body-color: #ced8de;
$primary-color: #f1b631;
$secondary-color: #f18731;
$disabled-color: #888;

// Path
$image-path: "../images";

// Transition duration

$transition: ease-in 0.2s;
 
//Mixins
  @mixin small-line {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
}

@mixin title {
  font-size: 30.64px;
  position: relative;
  padding-top: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1.15;
}

@mixin section-margin {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin tablet-inline-padding {
  padding-left: 40px;
  padding-right: 40px;
}

@mixin desktop-inline-padding {
  padding-left: 172.5px;
  padding-right: 172.5px;
}
