// Background color
$bg-color: #252839;
$bg-content-color: #1b1d2a;
$title-color: #fff;
$body-color: #ced8de;
$primary-color: #f1b631;
$secondary-color: #f18731;
$disabled-color: #888;

// Path

$image-path: "../images"