@font-face {
  font-family: "myPoppins";
  src: local("Poppins"), url("../fonts/poppins-normal.woff2"), url("../fonts/poppins-normal.woff");
  font-weight: 400; }

@font-face {
  font-family: "myPoppins";
  src: local("Poppins"), url("../fonts/poppins-medium.woff2"), url("../fonts/poppins-medium.woff");
  font-weight: 500; }

@font-face {
  font-family: "myPoppins";
  src: local("Poppins"), url("../fonts/poppins-semibold.woff2"), url("../fonts/poppins-semibold.woff");
  font-weight: 600; }

@font-face {
  font-family: "myPoppins";
  src: local("Poppins"), url("../fonts/poppins-bold.woff2"), url("../fonts/poppins-bold.woff");
  font-weight: 700; }

body {
  background-color: #252839; }

body,
.common__container {
  margin: auto; }

.common__container {
  max-width: 1440px; }

body,
a,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar-thumb {
  background-color: yellow;
  box-shadow: inset 0px 0px 7px grey;
  border-radius: 6px; }

body::-webkit-scrollbar-thumb:hover {
  background-color: #89ff01;
  box-shadow: inset 0px 0px 7px black; }

body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb {
  transition: all ease-in 0.2s; }

body::-webkit-scrollbar-track {
  background-color: #692f84; }

body::-webkit-scrollbar {
  width: 16px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "myPoppins", sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a,
abbr[title] {
  text-decoration: none; }

img {
  width: 100%; }

button,
a {
  cursor: pointer; }

.title {
  color: #fff;
  position: relative;
  font-size: 27px;
  padding-top: calc(24px / 2);
  margin-top: calc(20px / 2);
  margin-bottom: calc(20px / 2);
  font-weight: 800;
  line-height: 1.15; }

.title::first-letter {
  color: #f1b631; }

.title::before {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  top: 0;
  left: 0; }

section .common__container {
  padding-left: calc(21px / 2);
  padding-right: calc(21px / 2); }

.paragraph {
  font-size: 13px; }

@media (min-width: 300px) {
  .title {
    font-size: 30.64px;
    position: relative;
    padding-top: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1.15; }
  .paragraph {
    font-size: 17px; }
  section .common__container {
    padding-left: 21px;
    padding-right: 21px; } }

@media (min-width: 650px) {
  section .common__container {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 90px;
    margin-bottom: 90px; }
  .title {
    font-size: 36px; }
  .paragraph {
    font-size: 20px; } }

@media (min-width: 1100px) {
  section .common__container {
    padding-left: 172.5px;
    padding-right: 172.5px; } }

.masthead {
  background-color: #1b1d2a; }

.masthead .common__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.masthead .common__container,
.header .common__container {
  padding-left: calc(21px / 2);
  padding-right: calc(21px / 2); }

.header .common__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 2 * 80px);
  position: relative;
  padding-bottom: calc(30px / 2); }

.masthead__title,
.header__article--title,
.social__media--link {
  color: #fff; }

.masthead__title {
  font-size: 24px; }

.number,
.small__heading,
.header__article--skills {
  color: #f1b631; }

.header__article--paragraph,
.header__article--title {
  margin-top: 0; }

.header__article--title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0; }

.small__heading {
  font-size: 13px; }

.header__article--paragraph {
  color: #ced8de;
  margin-bottom: calc(21.25px / 2); }

.header__article--button,
.header__article--button:hover,
.header__article--button::before,
.header__article--button:hover::before {
  transition: all ease 0.2s; }

.header__article--button {
  display: flex;
  flex-direction: row;
  color: #252839;
  font-size: 12px;
  background-color: #fff;
  padding-left: 12.8px;
  padding-right: 12.8px;
  padding-top: 6.4px;
  padding-bottom: 6.4px;
  border: none;
  max-width: max-content;
  font-weight: 500;
  position: relative; }

.header__article--button svg {
  width: 8px;
  max-height: max-content;
  margin-left: 4.25px; }

.header__article--button::before {
  content: "";
  z-index: -1;
  border: 1px solid #fff;
  position: absolute;
  bottom: -3px;
  right: -4px;
  width: 100%;
  height: 100%; }

.social_media__list--item a:hover,
.header__article--button:hover {
  color: #f1b631; }

.header__article--button:hover::before {
  border: 1px solid #f1b631;
  bottom: -5px;
  right: -6px; }

.social_media__list--item svg {
  width: 20px; }

.social__media--link:hover,
.social__media--link {
  transition: color ease-in 0.2s; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0; } }

.scrolldown-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  display: none; }

.scrolldown-container > p {
  color: #ced8de;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px; }

.mouse {
  margin: auto;
  max-width: 20px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 20px; }

.mouse .small-line {
  position: relative;
  left: 50%;
  top: 6px;
  margin-left: -1px;
  width: 2px;
  height: 8px;
  background: #f1b631;
  border-radius: 50%;
  animation: scroll 2.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94); }

@media (min-width: 300px) {
  .masthead .common__container,
  .header .common__container {
    padding-left: 21px;
    padding-right: 21px; }
  .masthead__title {
    font-size: 28px; }
  .header__article--title {
    font-size: 40px; }
  .small__heading {
    font-size: 17px; }
  .header__article--paragraph {
    margin-bottom: 21.25px; }
  .header__article--button {
    font-size: 13.5px;
    padding-left: 12.8px;
    padding-right: 12.8px;
    padding-top: 6.4px;
    padding-bottom: 6.4px; }
  .header__article--button svg {
    width: 11.9px;
    margin-left: 4.25px; }
  .social_media__list--item svg {
    width: 26.59px; } }

@media (min-width: 650px) {
  .header .common__container,
  .masthead .common__container {
    padding-left: 40px;
    padding-right: 40px; }
  .header {
    padding-top: 30px; }
  .header__article--title {
    font-size: 80px;
    line-height: 1.1; }
  .small__heading {
    font-size: 20px; }
  .header__article--button {
    font-size: 14.4px; }
  .scrolldown-container {
    display: block; } }

@media (min-width: 1100px) {
  .header .common__container {
    padding-left: 172.5px;
    padding-right: 172.5px; } }

.navigation {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  background-color: #1b1d2a;
  padding-top: calc(8px / 2);
  padding-bottom: calc(8px / 2);
  padding-left: calc(21px / 2);
  padding-right: calc(21px / 2); }

.navigation__list {
  display: flex;
  justify-content: space-between; }

.navigation__link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px; }

.navigation__link div {
  display: flex;
  flex-wrap: nowrap; }

.navigation__link:hover {
  color: #f1b631; }

.navigation svg {
  margin-bottom: 3px;
  max-width: 16px;
  max-height: 15px; }

@media (min-width: 300px) {
  .navigation {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 21px;
    padding-right: 21px; }
  .navigation__link {
    font-size: 13.6px; }
  .navigation svg {
    max-width: 22px;
    max-height: 15px; } }

@media (min-width: 650px) {
  .navigation {
    position: unset;
    z-index: unset;
    width: 100%;
    background-color: unset;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px; }
  .navigation__list {
    justify-content: unset; }
  .navigation__list--item {
    margin-left: 10px;
    margin-right: 10px; }
  .navigation svg {
    display: none; }
  .navigation__link {
    position: relative;
    font-size: 20px; }
  .navigation__link:hover,
  .navigation__link {
    transition: color ease-in 0.2s; }
  .navigation__link:hover::before {
    right: 0; }
  .navigation__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -23px;
    background: #f1b631;
    height: 2px;
    -webkit-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out; } }

.section__about-me .common__container {
  margin-top: calc(60px / 2);
  margin-bottom: calc(60px / 2);
  padding-bottom: calc(30px / 2); }

.about-me__title,
.about-me__article--title {
  color: #fff; }

.image__wrapper {
  position: relative;
  margin-bottom: calc(40px / 2); }

.image__wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: -6px;
  right: -8px;
  border: 2px solid #f1b631; }

.about-me__article--title::before {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px; }

.about-me__article--title {
  font-size: 23px; }

.about-me__article--paragraph,
.skills__list--item {
  color: #ced8de; }

.about-me__article--title {
  position: relative;
  padding-top: calc(20px / 2); }

.about-me__article--title::before {
  top: 0; }

.about-me__article {
  padding-top: calc(42.5px / 2);
  padding-top: calc(42.5px / 2); }

.skills__list,
.skills__list--item {
  display: flex;
  flex-direction: row;
  align-items: center; }

.skills__list {
  flex-wrap: wrap;
  font-size: 10px; }

.skills__list--item {
  margin-right: calc(17px / 2); }

.skills__list--item::before {
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 6.8px;
  height: 13.5px;
  margin-right: 4.25px; }

@media (min-width: 300px) {
  .section__about-me .common__container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px; }
  .image__wrapper {
    margin-bottom: 40px; }
  .about-me__article--title {
    font-size: 27.23px; }
  .about-me__article--title {
    padding-top: 20px; }
  .image__wrapper::before {
    bottom: -8px;
    right: -10px; }
  .about-me__article {
    padding-top: 42.5px;
    padding-top: 42.5px; }
  .skills__list {
    font-size: 13.6px; }
  .skills__list--item {
    margin-right: 17px; }
  .skills__list--item::before {
    width: 6.8px;
    height: 13.5px; } }

@media (min-width: 650px) {
  .skills__list--item {
    font-size: 16px; } }

@media (min-width: 850px) {
  .about-me__article {
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
  .about-me__article--title {
    margin-top: 0; }
  .about-me__article--wrapper {
    margin-left: 40px; } }

.section__projects .common__container {
  margin-top: calc(60px / 2);
  margin-bottom: calc(60px / 2);
  padding-bottom: calc(30px / 2); }

.section__projects--wrapper,
.project__link {
  color: #ced8de; }

.projects__title {
  position: relative;
  color: #fff;
  font-size: 22px; }

.projects__title::before,
.section__projects--title::before {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  top: -26px; }

.section__projects--title {
  font-size: 30.64px;
  position: relative;
  padding-top: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1.15;
  position: relative;
  padding-top: 0; }

.projects__description {
  font-size: 12px; }

.skills__list {
  font-size: 10px; }

.projects__description {
  background-color: #1b1d2a;
  padding: calc(10px / 2);
  border-radius: 6px; }

.projects__image {
  margin-top: calc(40px / 2);
  margin-bottom: calc(40px / 2); }

.projects__list,
.more__projects {
  display: flex;
  flex-direction: row; }

.projects__list {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end; }

.projects__list svg {
  margin-left: calc(8.5px / 2);
  margin-right: calc(8.5px / 2); }

.project__link svg {
  width: 20px;
  height: 22px; }

.more__projects {
  max-width: max-content;
  margin: auto; }

.more__projects a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #f1b631; }

.more__projects svg {
  margin-left: 4.25px; }

.more__projects:hover svg {
  margin-left: 10px; }

.more__projects a:hover {
  text-decoration: underline;
  color: #f18731; }

.more__projects a,
.more__projects a:hover,
.more__projects svg,
.more__projects:hover svg,
.section__projects img:hover,
.projects__image,
.projects__image:hover {
  transition: all ease-in 0.2s; }

.more__projects svg {
  width: 10px;
  max-height: max-content; }

.project__link:hover {
  color: #f1b631; }

.project__link:hover,
.project__link {
  transition: color ease-in 0.2s; }

.section__projects img:hover {
  box-shadow: 1px 1px 8px #000000; }

@media (min-width: 300px) {
  .section__projects .common__container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px; }
  .projects__title {
    font-size: 27.25px; }
  .section__projects--title {
    font-size: 30.64px;
    position: relative;
    padding-top: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1.15;
    padding-top: 0; }
  .projects__description,
  .skills__list {
    font-size: 13.6px; }
  .projects__description {
    padding: 10px;
    border-radius: 8px; }
  .projects__image {
    margin-top: 40px;
    margin-bottom: 40px; }
  .projects__list svg {
    margin-left: 8.5px;
    margin-right: 8.5px; }
  .project__link svg {
    width: 22.66px;
    height: 23px; }
  .more__projects a {
    font-size: 13.6px; }
  .more__projects svg {
    width: 11.9px; } }

@media (min-width: 650px) {
  .section__projects--wrapper article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .article__wrapper {
    direction: ltr; }
  .projects__image {
    margin-top: 0; }
  .section__projects--wrapper:nth-of-type(even) article {
    direction: rtl; }
  .skills__list,
  .projects__description {
    font-size: 16px; }
  .projects__title {
    font-size: 32px; }
  .more__projects a {
    font-size: 16px; }
  .project__link svg {
    width: 26.66px;
    height: auto; } }

@media (min-width: 850px) {
  .projects__image {
    margin-top: 0;
    margin-bottom: 0; } }

@media (min-width: 1100px) {
  .projects {
    margin-top: 40px;
    margin-bottom: 40px; } }

.section__contact .common__container {
  margin-top: calc(60px / 2);
  margin-bottom: calc(60px / 2);
  padding-bottom: calc(30px / 2); }

.contact__image {
  max-height: 30px;
  width: auto;
  max-width: 30px;
  margin-right: calc(12.75px / 2);
  align-self: center; }

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center; }

.contact__name {
  font-size: 13px; }

.contact__issue--link,
.contact__name {
  color: #f1b631; }

.contact__name {
  margin-top: 0;
  margin-bottom: 0; }

.contact__detail,
.contact__paragraph {
  color: #ced8de; }

.contact__detail {
  font-size: 10px; }

.contact__line {
  height: 1px;
  width: 50%;
  background-color: #ced8de; }

.contact__container {
  display: grid;
  grid-gap: calc(30px / 2);
  margin-top: calc(34px / 2);
  margin-bottom: calc(34px / 2); }

@media (min-width: 300px) {
  .section__contact .common__container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px; }
  .contact__image {
    max-height: 34px;
    max-width: 34px;
    margin-right: 12.75px; }
  .contact__name {
    font-size: 17px; }
  .contact__detail {
    font-size: 12.75px; }
  .contact__container {
    grid-gap: 30px;
    margin-top: 34px;
    margin-bottom: 34px; } }

@media (min-width: 650px) {
  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .contact__name {
    font-size: 20px; }
  .contact__detail {
    font-size: 15px; } }

@media (min-width: 1100px) {
  .contact__container {
    grid-template-columns: repeat(3, 1fr); } }

.scroll-up__container {
  position: fixed;
  right: -100px;
  bottom: 150px;
  transition: right linear 0.2s;
  border-radius: 4px;
  z-index: 3; }

.scroll-up__button {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #1b1d2a;
  width: 43px;
  height: 46px; }

.scroll-up__button:hover {
  background-color: #252839;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #f1b631; }

.scroll-up__button,
.scroll-up__button:hover {
  transition: all ease-in 0.2s; }

footer {
  background-color: #1b1d2a;
  padding: calc(12px / 2);
  margin-bottom: calc(49px / 2);
  color: #ced8de;
  font-size: 10px; }

footer .common__container {
  flex-direction: column; }

footer .common__container,
.footer__list,
.footer__wrapper {
  display: flex;
  align-items: center; }

.footer__wrapper {
  flex-direction: column; }

.footer__list {
  flex-direction: row; }

.footer__link {
  color: #fff; }

.footer__link:hover {
  color: #f1b631; }

.footer__link,
.footer__link:hover {
  transition: color ease-in 0.2s; }

.footer__link svg {
  width: 19px;
  height: initial;
  margin-left: calc(8.5px / 2);
  margin-right: calc(8.5px / 2); }

.tools {
  display: flex;
  align-items: center;
  margin-top: calc(13.6px / 2);
  margin-bottom: calc(13.6px / 2);
  height: 45.5px;
  gap: 5px; }

.tools__wrapper {
  display: flex;
  align-items: center;
  height: 16px;
  overflow: hidden; }

@keyframes scroll-item {
  0%,
  10% {
    transform: translateY(40%); }
  20%,
  30% {
    transform: translateY(20%); }
  40%,
  50% {
    transform: translateY(0%); }
  60%,
  70% {
    transform: translateY(-20%); }
  80%,
  90%,
  100% {
    transform: translateY(-40%); } }

.tools span {
  animation: scroll-item 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.tools span {
  display: flex;
  align-items: center;
  flex-direction: column; }

@media (min-width: 300px) {
  footer .common__container {
    padding: 12px;
    margin-bottom: 49px;
    font-size: 13.6px; }
  .footer__link svg {
    width: 19px;
    margin-left: 8.5px;
    margin-right: 8.5px; }
  .tools {
    margin-top: 13.6px;
    margin-bottom: 13.6px; } }

@media (min-width: 650px) {
  footer {
    margin-bottom: 0; }
  footer .common__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
    font-size: 16px; }
  .footer__link svg {
    width: 21.33px; }
  .footer__wrapper {
    flex-direction: row; }
  .footer__copyright {
    margin-right: 16px; } }

@media (min-width: 1100px) {
  footer .common__container {
    padding-left: 172.5px;
    padding-right: 172.5px; } }
