body {
  margin: auto;
  background-color: #252839; }

* {
  font-family: "Poppins", sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a,
abbr[title] {
  text-decoration: none; }

img {
  width: 100%; }

button,
a {
  cursor: pointer; }

.title {
  color: #fff;
  position: relative;
  font-size: 30.64px;
  position: relative;
  padding-top: 24px;
  margin-top: 42.5px;
  padding-top: 24px;
  margin-bottom: 0; }

.title::first-letter {
  color: #f1b631; }

.title::before {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  top: 0;
  left: 0; }

.masthead {
  background-color: #1b1d2a;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.masthead,
.header {
  padding-left: 21px;
  padding-right: 21px; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 2 * 80px); }

.masthead__title,
.header__article--title,
.social__media--link {
  color: #fff; }

.number,
.small__heading,
.header__article--skills {
  color: #f1b631; }

.header__article--paragraph,
.header__article--title {
  margin-top: 0; }

.header__article--title {
  font-size: 40px;
  margin-bottom: 0; }

.header__article--paragraph {
  color: #ced8de;
  font-size: 17px;
  margin-bottom: 21.25px; }

.header__article--button,
.header__article--button:hover,
.header__article--button::before,
.header__article--button:hover::before {
  transition: all ease 0.2s; }

.header__article--button {
  display: flex;
  flex-direction: row;
  color: #252839;
  font-size: 13.5px;
  background-color: #fff;
  padding-left: 12.8px;
  padding-right: 12.8px;
  padding-top: 6.4px;
  padding-bottom: 6.4px;
  border: none;
  max-width: max-content;
  font-weight: 600;
  position: relative; }

.header__article--button svg {
  width: 11.9px;
  max-height: max-content;
  margin-left: 4.25px; }

.header__article--button::before {
  content: "";
  z-index: -1;
  border: 1px solid #fff;
  position: absolute;
  bottom: -3px;
  right: -4px;
  width: 100%;
  height: 100%; }

.social_media__list--item a:hover,
.header__article--button:hover {
  color: #f1b631; }

.header__article--button:hover::before {
  border: 1px solid #f1b631;
  bottom: -5px;
  right: -6px; }

.social_media__list--item svg {
  width: 22.6px; }

.navigation {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
  background-color: #1b1d2a;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 21px; }

.navigation__list {
  display: flex;
  justify-content: space-between; }

.navigation__link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13.6px; }

.navigation__link:hover {
  color: #f1b631; }

.navigation svg {
  margin-bottom: 3px;
  max-width: 22px;
  max-height: 15px; }

@media (min-width: 650px) {
  .navigation {
    position: unset;
    z-index: unset;
    width: 100%;
    background-color: unset;
    padding-top: 0;
    padding-bottom: 0; }
  .navigation svg {
    display: none; } }

.section__about-me {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px; }

.about-me__title,
.about-me__article--title {
  color: #fff; }

.image__wrapper {
  position: relative;
  margin-bottom: 40px; }

.image__wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: -8px;
  right: -10px;
  border: 2px solid #f1b631; }

.about-me__article--title::before {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px; }

.about-me__article--title {
  font-size: 27.23px; }

.about-me__article--paragraph,
.skills__list--item {
  color: #ced8de; }

.about-me__article--title {
  position: relative;
  padding-top: 20px; }

.about-me__article--title::before {
  top: 0; }

.about-me__article {
  padding-top: 42.5px;
  padding-top: 42.5px; }

.skills__list,
.skills__list--item {
  display: flex;
  flex-direction: row; }

.skills__list {
  flex-wrap: wrap;
  font-size: 13.6px; }

.skills__list--item {
  align-items: center;
  margin-right: 17px; }

.skills__list--item::before {
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 6.8px;
  height: 13.5px;
  margin-right: 4.25px; }

.section__features {
  padding-left: 21px;
  padding-right: 21px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px; }

.features__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ced8de;
  border-radius: 8px;
  padding: 17px; }

.features__image {
  max-width: max-content;
  height: 34px; }

.section__features--paragraph,
.features__article {
  color: #ced8de; }

.features__line {
  width: 15%;
  height: 2px;
  background-color: #f1b631; }

.features__wrapper {
  display: grid;
  grid-gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px; }

.features__paragraph {
  font-size: 12.8px; }

.features__heading,
.features__paragraph {
  margin-top: 17px;
  margin-bottom: 17px; }

.section__projects {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px; }

.section__projects,
.section__projects--wrapper {
  padding-left: 21px;
  padding-right: 21px; }

.section__projects--wrapper,
.project__link {
  color: #ced8de; }

.projects__title {
  position: relative;
  color: #fff;
  font-size: 27.25px; }

.projects__title::before,
.section__projects--title::before {
  content: "";
  background-color: #f1b631;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  top: -20px; }

.section__projects--title {
  font-size: 30.64px;
  position: relative;
  padding-top: 24px;
  margin-top: 42.5px;
  position: relative;
  padding-top: 0; }

.projects__description,
.skills__list {
  font-size: 13.6px; }

.projects__description {
  background-color: #1b1d2a;
  padding: 10px;
  border-radius: 8px; }

.projects__image {
  margin-top: 40px;
  margin-bottom: 40px; }

.projects__list,
.more__projects {
  display: flex;
  flex-direction: row; }

.projects__list {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end; }

.projects__list svg {
  margin-left: 8.5px;
  margin-right: 8.5px; }

.project__link svg {
  width: 22.66px;
  height: 23px; }

.more__projects a {
  display: flex;
  align-items: center;
  max-width: max-content;
  margin: auto;
  font-size: 13.6px;
  color: #f1b631;
  align-items: center; }

.more__projects svg {
  margin-left: 4.25px; }

.more__projects:hover svg {
  margin-left: 6.4px; }

.more__projects a:hover {
  text-decoration: underline;
  color: #f18731; }

.more__projects svg {
  width: 11.9px;
  max-height: max-content; }

.project__link:hover {
  color: #f1b631; }

.section__contact {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.contact__image {
  max-height: 34px;
  width: auto;
  max-width: 34px;
  margin-right: 12.75px;
  align-self: center; }

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 34px; }

.contact__paragraph,
.contact__name {
  font-size: 17px; }

.contact__issue--link,
.contact__name {
  color: #f1b631; }

.contact__name {
  margin-top: 0;
  margin-bottom: 0; }

.contact__detail,
.contact__paragraph {
  color: #ced8de; }

.contact__detail {
  font-size: 12.75px; }

.contact__line {
  height: 1px;
  width: 50%;
  background-color: #ced8de; }

footer {
  flex-direction: column;
  background-color: #1b1d2a;
  padding: 12px;
  margin-bottom: 49px;
  color: #ced8de;
  font-size: 13.6px; }

footer,
.footer__list {
  display: flex;
  align-items: center; }

.footer__list {
  flex-direction: row;
  gap: 17px; }

.footer__link {
  color: #fff; }

.footer__link:hover {
  color: #f1b631; }

.footer__link svg {
  width: 19px;
  height: initial; }

.tools {
  display: flex;
  align-items: center;
  margin-top: 13.6px;
  margin-bottom: 13.6px;
  height: 45.5px;
  gap: 5px; }

.tools__wrapper {
  display: flex;
  align-items: center;
  height: 16px;
  overflow: hidden; }

@keyframes scroll-item {
  0%,
  10% {
    transform: translateY(40%); }
  20%,
  30% {
    transform: translateY(20%); }
  40%,
  50% {
    transform: translateY(0%); }
  60%,
  70% {
    transform: translateY(-20%); }
  80%,
  90%,
  100% {
    transform: translateY(-40%); } }

.tools span {
  animation: scroll-item 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.tools span {
  display: flex;
  align-items: center;
  flex-direction: column; }
